<div style="margin-left: 20px;width: 500px;">
  <lib-input-ex [inputLabel]="'testInputLabel'"
                [inputDefaultValue]="title"
                [inputIsRequired]="true"
                [inputDisabled]="disabled"
                [inputMaxlength]="3"
                (commitEvent)="title = $event">
  </lib-input-ex>
  <lib-input-ex [inputLabel]="'testInputNumber'"
                [inputDefaultValue]="age"
                [inputCategory]="2"
                [inputIsRequired]="true"
                [inputDisabled]="disabled"
                [inputMax]="300"
                (commitEvent)="age = $event">
  </lib-input-ex>

  <lib-input-ex [inputLabel]="'testInputPassword'"
                [inputDefaultValue]="password"
                [inputCategory]="3"
                [inputIsRequired]="true"
                [inputDisabled]="disabled"
                [inputMinlength]="4"
                [sourcePassword]="true"
                (commitEvent)="password = $event">
  </lib-input-ex>

  <lib-input-ex [inputLabel]="'testInputPassword'"
                [inputDefaultValue]="password"
                [inputCategory]="3"
                [inputIsRequired]="true"
                [inputDisabled]="disabled"
                [inputMinlength]="4"
                [verifyPassword]="true"
                (commitEvent)="password = $event">
  </lib-input-ex>

  <lib-input-ex [inputLabel]="'testInputEmail'"
                [inputDefaultValue]="email"
                [inputCategory]="4"
                [inputIsRequired]="true"
                [inputPlaceholder]="'email'"
                [inputDisabled]="disabled"
                (commitEvent)="email = $event">
  </lib-input-ex>

  <lib-input-ex [inputLabel]="'testInputValidator'"
                [inputDefaultValue]="validator"
                [inputIsRequired]="true"
                [inputPlaceholder]="'validator'"
                [inputDisabled]="disabled"
                [validatorFns]="[checkControlFun()]"
                [validatorMessage]="[{key: 'repeat',message:'can not same as title'}]"
                (commitEvent)="validator = $event">
  </lib-input-ex>

  <lib-input-ex [inputLabel]="'testInputAsyncValidator'"
                [inputDefaultValue]="asyncValidator"
                [inputIsRequired]="true"
                [inputPlaceholder]="'asyncValidator'"
                [inputDisabled]="disabled"
                [validatorAsyncFn]="checkAsyncControlFun()"
                [validatorMessage]="[{key: 'exists',message:'title exists.'}]"
                (commitEvent)="asyncValidator = $event">
  </lib-input-ex>
</div>
<span>title:{{title}}</span><br>
<span>age:{{age}}</span><br>
<span>password:{{password}}</span><br>
<span>email:{{email}}</span><br>
<span>validator:{{validator}}</span><br>
<span>asyncValidator:{{asyncValidator}}</span><br>
<button class="btn btn-primary" (click)="toggleDisabled()">
  切换状态
</button>
<button class="btn btn-primary" (click)="checkValue()">
  触发检查
</button>
